.container_video {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  width: 285px;
  height: 280px;
  box-shadow: 2px 2px 6px black;
  border-radius: 10px;
  /* background-image: url('/public/pics/khungnen.webp'); */
  background-image: linear-gradient(60deg, #488dc7, #17c7ea);
  margin-top: 5%;
  background-size: contain;
  margin-right: 5%;
  z-index: 8;
}

.container_video_text {
  text-align: left;
  flex: 1;
  background-image: url("/public/pics/slide2.jpg");
  margin-bottom: 0;
  display: flex;
  background-size: cover;
  border-radius: 10px;
  border: 1px solid green;
  color: #000000;
  z-index: 8;
}

.button_lithuyet {
  box-shadow: 0 0 5px rgb(30, 30, 30);
  float: right;
  margin-right: 3%;
  padding: 0 5px;
  color: rgb(81, 123, 9);
  border-radius: 10px;
  margin-bottom: 5%;
  height: 80%;
  margin-left: 3%;
  margin-top: 3%;
  cursor: pointer;
  border: 1px solid black;
  text-wrap: nowrap;
  font-size: 16.3px;
  background-image: none;
}

.button_lithuyet:hover {
  background-image: linear-gradient(#ffffff, rgb(242, 222, 185));
}

.container_video_icon {
  text-align: center;
  /* background-image: url("/public/pics/1.jpg"); */
  background-size: cover;
  height: 70%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.trollvn {
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.container_video_icon p {
  font-size: 34px;
  margin-top: 22%;
}

.container_video_text p {
  max-width: 190px;
  margin-left: 3%;
  min-width: 190px;
}

.container_video_text {
  min-height: 70px;
}

.container_video_icon img {
  flex: 1;
}

.container_video_icon iframe {
  flex: 1;
}

.container_video_icon i {
  position: relative;
  justify-content: center;
  cursor: pointer;
}
