.container_information {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    max-width: 100%;
}

.container_information h2 {
    color: #0a174f;
    font-family: 'Segoe UI', Tahoma, ;
    /* border-bottom: 1px solid #17c7ea; */
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 10px;

}

.content li {
    font-size: 18px;
    margin-left: 45px;
    margin-top: 15px;
    list-style-type: disc;
    line-height: 1.5;
}


.infor_ul {
    display: flex;
    flex-direction: column;
    list-style: square;
    justify-content: space-evenly;

}

.content {

    max-width: 65%;
    color: rgb(38, 35, 35);
    margin-left: 23%;
}

.content i {
    float: right;
    cursor: pointer;
    margin-right: 2%;
}