:root {
    --backgroundColor: #17c7ea;
    --textColor: rgb(235, 233, 239);
}

.container__navbar__official {
    /* background-color: #40c5e0; */
    /* background-image: radial-gradient(circle, rgba(31, 31, 31, 1) 0%, rgba(53, 53, 53, 1) 20%, rgba(29, 29, 29, 1) 50%, rgba(9, 9, 9, 1) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)); */
    background: radial-gradient(circle, rgba(31, 31, 31, 1) 0%, rgba(53, 53, 53, 1) 20%, rgba(29, 29, 29, 1) 50%, rgba(9, 9, 9, 1) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));

    padding: 1.4%;
    position: fixed;
    width: 15%;
    z-index: 9;
    text-align: center;
    height: 100%;
    box-shadow: 10px 0 10px -5px rgba(200, 199, 199, 0.5);
    left: 0;
    top: 0;
}

.container__navbar__official h3 {
    box-shadow: 1px 1px 3px rgb(33, 32, 33);

    background-image: linear-gradient(-158deg, rgb(255, 255, 255), rgb(241, 252, 245));
    padding: 10px 0;
    border-radius: 12px;
    margin-top: 135px;
}

.navbar_ul_official {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin: 0;
    align-content: space-evenly;
    padding: 10% 0;
}

.navbar_ul_official a {
    margin: 0;
    padding-bottom: 10px;

}

.navbar_ul_official li {
    margin: 0;
    float: left;
    padding: 0;
    text-align: center;
    margin-top: 15%;
}

.navbar_ul_official a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    box-shadow: 0 12px 10px -10px rgb(239, 237, 237);
}