.container_lithuyet {
    margin-left: 0;
    width: 100%;
    height: 2000px;
    margin-top: 8%;
}

#container_video_lithuyet {
    width: 99%;
    height: 400px;
    position: fixed;
    transition: ease-out 0.5s;
    z-index: 8;
}

#container_video_lithuyet.shrink {
    width: 10%;
    box-shadow: 0 0 10px rgb(73, 72, 72);
    height: 10%;

}

.trollvn {
    transition: ease-in 1s;
}

.container_tieude_lithuyet {
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.container_noidung_lithuyet {}

.li_title {
    font-weight: bold;
    font-size: 23px;
}

#noidungLithuyet {
    position: absolute;
    margin-top: 40%;
    z-index: 7;
    margin-left: 10%;
}

#noidungLithuyet ul {
    display: flex;
    flex-direction: column;
}

.container_noidung_lithuyet ul h2 {
    margin-top: 0px;
    color: #488dc7;
    padding-bottom: 10px;
    font-size: 30px;
    border-bottom: 2px solid rgb(55, 58, 55);
    max-width: 80%;
}

.container_noidung_lithuyet ul h3 {
    font-size: 23px;
}

.container_noidung_lithuyet ul p {
    font-size: 20px;
}


.container_noidung_lithuyet img {
    width: 800px;
    margin-left: 17%;
    height: 550px;
    margin-top: 7%;
}

.containerBlooket {
    display: flex;
    width: 100px;
    height: 100px;
    text-wrap: nowrap;
    justify-content: center;
    margin: 5% 0 5% 20%;
}

.containerBlooket:hover .clicktoplay {
    opacity: 1;
    padding: 5px 10px;
    border: 1px solid gray;
    color: #FFFFFF;
}

.clicktoplay {
    margin-left: 35px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    height: 30px;
    text-align: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 18px;
    background-color: #488dc7;
}

.linkto {
    width: 10%;
    height: 100%;
    right: 0;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 38px;
    z-index: 7;
}

.hoanthanh {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 4%;
    background-image: linear-gradient(to bottom, #17c7ea, #488dc7);
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    transition: ease-in 0.2s;
}

.hoanthanh:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    padding: 7px;
}

#scrollAppend {
    width: 0;
    height: 0;
    opacity: 0;
    transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 13;
    border-radius: 0px;
}

#scrollAppend.hidden {
    width: 59%;
    height: 30%;
    background-image: url("/public/pics/12.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    box-shadow: 0 0 10px 0 black;
    overflow: hidden;
    padding: 180px 10%;

}

#clickonit {
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(-45deg, #488dc7, #17c7ea);
    padding: 14px;
    margin-right: 2%;
    color: #FFFFFF;
    border-radius: 10px;
    transition: ease-in 0.2s;
    cursor: pointer;
    box-shadow: 5px -5px 10px 0 #FFFFFF;
}

#clickonit:hover {
    box-shadow: 5px -5px 10px 0 #FFFFFF;
    padding: 17px;

}