.container_home1 {
  /* position: absolute; */
  margin-top: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(225, 145, 145);
  right: auto;
}

h1 {
  margin: 0;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 700px;
  padding: 10px;
}

.item_home1 a:hover {
  box-shadow: 0 1px 10px rgba(50, 49, 49, 0.5);
}
