.container_home1 {
  /* position: absolute; */
  margin-top: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(225, 145, 145);
  right: auto;
}

h1 {
  margin: 0;
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: 700px;
  padding: 10px;
}

.item_home1 {
  box-shadow: -2px 10px 10px rgb(68, 68, 68);
  transition: ease 0.5s;

  padding: 15px 30px;
  border-radius: 35px;
  font-size: 25px;
  margin-left: -20px;
  background: linear-gradient(48deg, #03AED2, rgb(167, 197, 252));
  text-shadow: 1px 0 black;
}

.item_home1:hover {}