.container_home3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  padding-bottom: 50px;
  padding-top: 70px;
  align-items: center;
  margin-top: 250px;
}

.container_home3_it {
  height: 250px;
  display: flex;
  align-content: space-between;
}

.item_home3 {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

.itemDown {
  margin-top: 2%;
}

.item_home3 a {
  margin: 0;
  margin-top: 15px;
}

img {
  height: 210px;
  width: 320px;
}

.item_home3 a>i {
  float: right;

}

.item_home3 :hover {
  color: #17eaea;
  border-bottom: 1px solid #43d1ed;
}