.container_back_next {
    position: relative;
    bottom: 0;
    margin-left: 50%;
    margin-bottom: 3%;
    color: #ffffff;
}

.container_back_next i {
    margin-left: 19px;
    background-color: #488dc7;
    padding: 7px 15px;
    border-radius: 50%;
}